<div class="page-welcome">

  <%= render :partial => "landing/hero_block" %>

  <div class="landing-section section-filled zero-padding landing-hero-features">
    <%= render :partial => "landing/welcome/feature_list_horizontal" %>
  </div>

  <div class="landing-section mid-padding landing-features">
    <div class="container">
      <h2 class="hide">Features</h2>

      <div class="row-fluid row-inline align-middle">
        <div class="span6">
          <%= render :partial => "landing/welcome/feature_list_vertical" %>
        </div>
        <div class="span6">
          <div class="landing-screenshot">
            <%= image_tag("img-landing-screenshot.png", :alt => "CommonQ Demo Screenshot") %>
            <%#= link_to("View Live Demo", "#demo", :class => "btn btn-live-demo") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => "landing/welcome/video_section" %>

  <div class="landing-section section-filled landing-additional-features">
    <div class="container">
      <h2 class="section-title">Features done right</h2>
      <%= render :partial => "landing/welcome/feature_list_column" %>
    </div>
  </div>

  <%= render :partial => "landing/welcome/get_started" %>

</div>

<%= content_for :javascripts do %>
<script>
  $('.landing-menu').data('affix').options.offset.top = 520;
  $('.landing-menu').data('affix').options.offsetTop = 520;
</script>
<% end %>
